header {
    background-image: url(./assets/header2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border: 2px solid goldenrod;
    border-radius: 100px;
    padding: 50px 0;
    a {
        padding: 15px 150px;
        font-size: 3rem;
    }
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    width: 70%;
    text-align: left;
}

h2 {
    font-size: 5rem;
    padding: 125px 0;
    text-transform: capitalize;
}