header {
    background-image: url(./assets/mainHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border: 2px solid goldenrod;
    border-radius: 100px;
    padding: 50px 0;
    a {
        font-size: 3rem;
    }
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    width: 70%;
    text-align: left;
}

h2 {
    font-size: 5rem;
    padding: 125px 0;
    text-transform: capitalize;
    text-align: left;
}

@media (max-width: 1024px) {
    h1,
    h2 {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 4rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 2.8rem;
    }
}