.question1,
.question2,
.question3,
.question4,
.question5,
.result {
    background-color: black;
    border: 2px solid goldenrod;
    border-radius: 100px;
    text-align: center;
    p {
        line-height: 1.5;
    }
}

.question1,
.question2,
.question3,
.question4,
.question5 {
    padding: 25px 0;
}

h3,
p,
label {
    margin: 15px 0;
}

label {
    font-size: 2.2rem;
    transition: all 0.3s linear;
}

label:hover {
    background: goldenrod;
    padding: 5px;
    border: 1px solid mintcream;
    border-radius: 10px;
    color: black;
}

label,
input[type="radio"] {
    vertical-align: middle;
}

input[type="radio"] {
    background-color: red;
}

h3 {
    font-size: 4rem;
    text-transform: uppercase;
}

p {
    font-size: 2rem;
}

div {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
}

.options {
    padding: 25px 0 100px 0;
}
