html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  max-width: 100%;
}

h1,
h2,
h3,
p,
img,
div {
  margin: 0;
  padding: 0;
}

img {
  height: 300px;
  width: 300px;
}

a,
button {
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
  text-transform: capitalize;
  background-color: goldenrod;
  padding: 15px 150px;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover,
button:hover {
  border: 2px solid mintcream;
  border-radius: 50px;
}

a:focus,
button:focus,
input[type="radio"]:focus {
  border: 5px solid darkred;
}

button {
  margin: 0 auto;
  font-family: 'MedievalSharp', cursive;
  border: none;
  margin-top: 50px;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'MedievalSharp', cursive;
  color: mintcream;
  background-color: darkred;
}

@media (max-width: 600px) {
  a,
  button {
    padding: 15px 50px;
  }
}

@media (max-width: 380px) {
  img {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 350px) {
  a,
  button {
    padding: 15px 25px;
  }
}

header {
  background-image: url(./assets/mainHeader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border: 2px solid goldenrod;
  border-radius: 100px;
  padding: 50px 0;
}

header a {
  font-size: 3rem;
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
  width: 70%;
  text-align: left;
}

h2 {
  font-size: 5rem;
  padding: 125px 0;
  text-transform: capitalize;
  text-align: left;
}

@media (max-width: 1024px) {
  h1,
  h2 {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2.8rem;
  }
}

.question1,
.question2,
.question3,
.question4,
.question5,
.result,
footer {
  background-color: black;
  border: 2px solid goldenrod;
  border-radius: 100px;
  text-align: center;
}

.question1 p,
.question2 p,
.question3 p,
.question4 p,
.question5 p,
.result p,
footer p {
  line-height: 1.5;
}

.question1,
.question2,
.question3,
.question4,
.question5 {
  padding: 25px 0;
}

h3,
p,
label {
  margin: 15px 0;
}

label {
  font-size: 2.2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

label:hover {
  background: goldenrod;
  padding: 5px;
  border: 1px solid mintcream;
  border-radius: 10px;
  color: black;
}

label,
input[type="radio"] {
  vertical-align: middle;
}

input[type="radio"] {
  background-color: red;
}

h3 {
  font-size: 4rem;
  text-transform: uppercase;
}

p {
  font-size: 3rem;
}

div {
  padding: 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.options {
  padding: 25px 0 100px 0;
}

.options5 {
  padding-bottom: 0;
}

.refresh,
.buttonContainer {
  display: none;
}

@media (max-width: 1175px) {
  label {
    font-size: 2rem;
  }
}

@media (max-width: 1075px) {
  label {
    font-size: 1.8rem;
  }
}

@media (max-width: 975px) {
  label:hover {
    background: none;
    padding: 0;
    border: none;
    color: goldenrod;
  }
}

@media (max-width: 480px) {
  .question1 p,
  .question2 p,
  .question3 p,
  .question4 p,
  .question5 p,
  .result p,
  footer p {
    line-height: 1.2;
    font-size: 2.5rem;
  }
}
